<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.CourseMapper">
    <select id="selectAll">
        SELECT * , course_type.course_type_name
        FROM Course
                 JOIN course_type ON course.course_type_id = course_type.id;
    </select>
    <select id="selectAllByPage">
        SELECT * , course_type.course_type_name
        FROM Course
                 JOIN course_type ON course.course_type_id = course_type.id
            limit (#{pageNum}) * 6,6;
    </select>
    <select id="selectInfo" resultType="org.example.server.pojo.Course">
        SELECT * FROM course where id = #{id};
    </select>
    <select id="selectInfoMe" resultType="org.example.server.pojo.Course">
        SELECT * FROM course where id = #{id};
    </select>
    <select id="selectByNum" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course where num = #{num};
    </select>
    <update id="updateInfo">
        update Course
        <set>
            <if test="course_name !=null and course_name!=''">course_name=#{course_name},</if>
            <if test="credit !=null">credit=#{credit},</if>
            <if test="num !=null">num=#{num},</if>
            <if test="course_type_id!=null">course_type_id=#{course_type_id},</if>
            <if test="book !=null">book=#{book},</if>
            <if test="extracurricular!=null">extracurricular=#{extracurricular},</if>
            <if test="teacher!=null">teacher_name=#{teacher},</if>
            <if test="classes!=null">classes=#{classes},</if>
            <if test="capacity!=null">`capacity`=#{capacity}</if>
        </set>
        where id = #{id};
    </update>
    <insert id="addCourse" parameterType="org.example.server.pojo.Course">
        insert into Course (course_name,credit,num,course_type_id,pre_course_id,book,extracurricular,classes,teacher_name,terms,capacity,students) values (#{course_name},#{credit},#{num},#{course_type_id},#{pre_course_id},#{book},#{extracurricular},#{classes},#{teacher_name},#{terms},#{capacity},#{students});
    </insert>
    <delete id="deleteCourseById" parameterType="org.example.server.pojo.Course">
        delete from Course where id = #{id};
    </delete>
    <select id="selectMixed" resultType="org.example.server.pojo.Course">
        select * from Course
        <where>
            <if test="course_name != null">
                and course_name like #{course_name}
            </if>
            <if test="course_type_id != null">
                and course_type_id = #{course_type_id}
            </if>
        </where>
        limit #{pageNum} * 2,2;
    </select>
    <select id="selectCourseByName" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course where course_name = #{course_name};
    </select>
    <select id="selectIdByStudent">
        SELECT course.course_name
        FROM student
                 JOIN student_course ON student.id = student_course.student_id
                 JOIN course ON student_course.course_id = course.id
        WHERE student.id = #{student_id};
    </select>
    <select id="selectLessonByStudent">
        SELECT course.course_name,course.teacher_name,lesson.time_sort,lesson.room,lesson.week_time
        FROM student
                 JOIN student_course ON student.id = student_course.student_id
                 JOIN course ON student_course.course_id = course.id
                 JOIN lesson ON student_course.course_id = lesson.course_id
        WHERE student.id = #{student_id} and lesson.week = #{week} and course.terms = #{terms};
    </select>
    <select id="selectLessonByTeacher">
        SELECT course.course_name,course.teacher_name,lesson.time_sort,lesson.room,lesson.week_time
        FROM teacher
                 JOIN teacher_course ON teacher.id = teacher_course.teacher_id
                 JOIN course ON teacher_course.course_id = course.id
                 JOIN lesson ON teacher_course.course_id = lesson.course_id
        WHERE teacher.id = #{teacher_id} and lesson.week = #{week} and course.terms = #{terms};
    </select>
    <select id="selectType">
        SELECT course_type.course_type_name
        FROM course
                 JOIN course_type ON course.course_type_id = course_type.id
        WHERE course.id = #{course_id};
    </select>
    <select id="selectAllType">
        SELECT course_type_name from course_type;
    </select>
    <select id="selectSpecial">
        select * , course_type.course_type_name
        from Course
        JOIN course_type ON course.course_type_id=course_type.id
        <where>
            <if test="course_name != null">
                and course_name LIKE '%' || #{course_name} || '%'
            </if>
            <if test="course_type_id != null">
                and course_type_id = #{course_type_id}
            </if>
            <if test="terms != null">
                and terms = #{terms}
            </if>
            <if test="num != null">
                and num like '%' || #{num} || '%'
            </if>
            <if test="classes != null">
                and classes like '%' || #{classes} || '%' or classes like '%' || #{classe} || '%'
            </if>
        </where>
        <if test="pageNum != null">
            limit (#{pageNum}) * 6,6;
        </if>
    </select>
    <delete id="deleteCourse">
        delete from course where id = #{id};
    </delete>
    <select id="selectStudentCourse">
        SELECT student_course.course_id,student_course.student_id,student_course.student_name,student_course.status,course.teacher_name,student.classes,person.person_num
        FROM student_course
                 JOIN course ON student_course.course_id = course.id
                 JOIN student ON student_course.student_id = student.id
                 JOIN person ON student.person_id = person.id
        WHERE student_course.course_id = #{id};
    </select>
    <select id="selectStudentCourse2">
        SELECT student_course.course_id,student_course.student_id,student_course.student_name,student_course.status,course.teacher_name,student.classes,person.person_num
        FROM student_course
                 JOIN course ON student_course.course_id = course.id
                 JOIN student ON student_course.student_id = student.id
                 JOIN person ON student.person_id = person.id
        WHERE student_course.course_id = #{id};
    </select>
    <delete id="deleteStudent">
        delete from student_course where student_id = #{student_id} and course_id = #{course_id};
    </delete>
    <insert id="addStudent">
        insert into student_course (course_id,student_id,student_name) VALUES (#{course_id},#{student_id},#{student_name});
    </insert>
    <update id="addCourseStudent">
        UPDATE course
        SET students = students + 1
        WHERE id = #{id};
    </update>
    <update id="minusCourseStudent">
        UPDATE course
        SET students = students - 1
        WHERE id = #{id};
    </update>
    <select id="selectStudentAndCourse">
        SELECT *
        FROM student_course
        WHERE course_id = #{course_id} and student_id = #{student_id};
    </select>
    <select id="selectclasses">
        SELECT *
        FROM student
        WHERE person_id = #{id};
    </select>
    <select id="selectclassesT">
        SELECT *
        FROM teacher
        WHERE person_id = #{id};
    </select>
    <select id="selectCourseByType">
        SELECT *
        FROM course
        <where>
            <if test="id1 != null">
                and course_type_id in (#{id1},#{id2},#{id3})
            </if>
            <if test="classes != null">
                and (classes like '%' || #{classes} || '%' or classes like '%' || #{classe} || '%')
            </if>
            <if test="terms != null">
                and terms = #{terms}
            </if>
        </where>
        <if test="pageNum != null">
            limit (#{pageNum}) * 6,6;
        </if>
    </select>
    <select id="selectPre">
        SELECT *
        FROM student_course
        WHERE course_id = #{pre_course_id} and student_id = #{student_id};
    </select>
    <select id="selectLessonStudent">
        SELECT course.course_name,course.teacher_name,course.classes,course_type.course_type_name,course.credit,lesson.week,lesson.time_sort,lesson.room,lesson.week_time
        FROM student
                 JOIN student_course ON student.id = student_course.student_id
                 JOIN course ON student_course.course_id = course.id
                 JOIN lesson ON student_course.course_id = lesson.course_id
                 JOIN course_type ON course.course_type_id = course_type.id
        WHERE student.id = #{student_id} and course.terms = #{terms};
    </select>
    <select id="selectByNum2" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course where num = #{num};
    </select>
    <select id="selectCourseByStudent">
        SELECT * ,course.course_name,course.id,course.credit,course.num,course.course_type_id,course_type.course_type_name,course.pre_course_id,course.book,course.extracurricular,course.classes,course.teacher_id,course.teacher_name,course.terms,course.capacity,course.students
        FROM student_course
        JOIN course ON student_course.course_id = course.id
        JOIN course_type ON course.course_type_id = course_type.id
        where student_course.student_id = #{student_id}
        <if test="pageNum != null">
            limit (#{pageNum}) * 6,6;
        </if>
    </select>
    <select id="selectCourseByTeacher">
        SELECT * ,course.course_name,course.id,course.credit,course.num,course.course_type_id,course_type.course_type_name,course.pre_course_id,course.book,course.extracurricular,course.classes,course.teacher_id,course.teacher_name,course.terms,course.capacity,course.students
        FROM teacher_course
        JOIN course ON teacher_course.course_id = course.id
        JOIN course_type ON course.course_type_id = course_type.id
        where teacher_course.teacher_id = #{teacher_id}
        <if test="pageNum != null">
            limit (#{pageNum}) * 6,6;
        </if>
    </select>
    <select id="selectAllTeacher">
        select * from teacher
    </select>
    <insert id="addTeacherCourse">
        insert into teacher_course (teacher_id,course_id) VALUES (#{teacher_id},#{course_id});
    </insert>
    <select id="selectById" resultType="org.example.server.pojo.Course">
        SELECT * FROM course where id = #{id};
    </select>


</mapper>