<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.CourseMapper">
    <select id="selectAll" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course;
    </select>
    <select id="selectInfo" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course where id = #{id};
    </select>
    <select id="selectByNum" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course where num = #{num};
    </select>
    <update id="updateInfo">
        update Course
        <set>
            <if test="course_name !=null and course_name!=''">course_name=#{course_name},</if>
            <if test="credit !=null">credit=#{credit},</if>
            <if test="num !=null">num=#{num},</if>
            <if test="course_type_id!=null">course_type_id=#{course_type_id},</if>
            <if test="pre_course_id!=null">pre_course_id=#{pre_course_id},</if>
            <if test="book !=null and book != ''">book=#{book},</if>
            <if test="extracurricular!=null and extracurricular!=''">extracurricular=#{extracurricular}</if>
        </set>
        where id = #{id};
    </update>
    <insert id="addCourse" parameterType="org.example.server.pojo.Course">
        insert into Course (course_name,credit,num,course_type_id,pre_course_id,book,extracurricular) values (#{course_name},#{credit},#{num},#{course_type_id},#{pre_course_id},#{book},#{extracurricular});
    </insert>
    <delete id="deleteCourseById" parameterType="org.example.server.pojo.Course">
        delete from Course where id = #{id};
    </delete>
    <select id="selectMixed" resultType="org.example.server.pojo.Course">
        select * from Course
        <where>
            <if test="course_name != null">
                and course_name like #{course_name}
            </if>
            <if test="course_type_id != null">
                and course_type_id = #{course_type_id}
            </if>
        </where>
        limit #{pageNum} * 2,2;
    </select>
    <select id="selectIdByName" resultType="org.example.server.pojo.Course">
        SELECT * FROM Course where course_name = #{course_name};
    </select>
    <select id="selectIdByStudent">
        SELECT course.course_name
        FROM student
                 JOIN student_course ON student.id = student_course.student_id
                 JOIN course ON student_course.course_id = course.id
        WHERE student.id = #{student_id};
    </select>


</mapper>