<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.FeeMapper">
    <insert id="insertFee">
        insert into Fee (id,student_num, student_name,date,activity,money,activity_detail)
        values (#{id},#{student_num},#{student_name},#{date},#{activity},#{money},#{activity_detail})
    </insert>

    <select id="selectAll" resultType="org.example.server.pojo.Fee">
        select * from Fee
    </select>

    <delete id="deleteFee">
        delete from Fee where id = #{id}
    </delete>

    <update id="updateId">
        update Fee set "id" = #{id} where "student_num" = #{student_num} and "student_name" = #{student_name} and "date" = #{date} and "activity" = #{activity} and "money" = #{money} and "activity_detail" = #{activity_detail}
    </update>

</mapper>