<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.LeaveMapper">

    <select id="selectByStudentNum" resultType="org.example.server.pojo.Leave">
        select * from Leave where "student_num" = #{student_num}
    </select>

    <select id="selectByStudentName" resultType="org.example.server.pojo.Leave">
        select * from Leave where "student_name" = #{student_name}
    </select>

    <select id="selectAll" resultType="org.example.server.pojo.Leave">
        select * from Leave
    </select>


    <insert id="insertLeave">
        insert into Leave (student_num, student_name,leave_type,leave_reason,destination,time,status,age,institute,major,instructor_name,instructor_tele,leave_detailed_reason,start_time,end_time,student_tele)
        values (#{student_num}, #{student_name}, #{leave_type}, #{leave_reason},#{destination},#{time},#{status},#{age},#{institute},#{major},#{instructor_name},#{instructor_tele},#{leave_detailed_reason},#{start_time},#{end_time},#{student_tele})
    </insert>

    <update id="updateStatus">
        update Leave set "status" = #{status} where "id" = #{id};
    </update>



</mapper>