<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.LessonMapper">
    <select id="selectlesson" resultType="org.example.server.pojo.Lesson">
        SELECT * FROM Lesson;
    </select>
    <update id="updateHomework">
        update Lesson set homework=#{homework} where id = #{id};
    </update>
    <select id="selectAllHomeworkFromStudent" resultType="org.example.server.pojo.Lesson">
        select course_id,course_name,homework from lesson where id in (select lesson_id from student_course where student_id = #{student_id});
    </select>
    <select id="selectAllHomeworkFromTeacher" resultType="org.example.server.pojo.Lesson">
        select student_homework ,student_name from student_course a inner join lesson b on a.lesson_id = b.id where lesson_id in #{lesson_id} ;
    </select>
    <select id="selectOneLesson" resultType="org.example.server.pojo.Lesson">
        SELECT * FROM Lesson where course_id = #{course_id};
    </select>
</mapper>