<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.ScoreMapper">

    <resultMap id="scoreResultMap" type="org.example.server.pojo.Score">
        <id column="id" property="id"/>
        <result column="student_num" property="student_num"/>
        <result column="student_name" property="student_name"/>
        <result column="course_num" property="course_num"/>
        <result column="course_name" property="course_name"/>
        <result column="mark" property="mark"/>
        <association property="person" javaType="org.example.server.pojo.Person">
            <result column="id" property="id"/>
            <result column="person_num" property="person_num"/>
            <result column="person_name" property="person_name"/>
        </association>
        <association property="course" javaType="org.example.server.pojo.Course">
            <result column="id" property="id"/>
            <result column="num" property="num"/>
            <result column="course_name" property="course_name"/>
            <result column="credit" property="credit"/>
        </association>
    </resultMap>
    <select id="selectByStudentId" resultMap="scoreResultMap">
        select sc.*, pe.person_num, pe.person_name, pe.id,co.num,co.course_name,co.credit,co.id from Score sc
                                         inner join Person pe on sc.student_num = pe.person_num
                                         inner join Course co on sc.course_num = co.num
        where "student_num" like #{student_num}
    </select>

    <select id="selectByCourseId" resultMap="scoreResultMap">
        select sc.*, pe.person_num, pe.person_name, pe.id,co.num,co.course_name,co.credit,co.id  from Score sc
                                         inner join Person pe on sc.student_num = pe.person_num
                                         inner join Course co on sc.course_num = co.num
        where "course_num" like #{course_num}
    </select>

    <select id="selectByStudentAndCourse" resultMap="scoreResultMap">
        select sc.*, pe.person_num, pe.person_name, pe.id,co.num,co.course_name,co.credit,co.id  from Score sc
                                         inner join Person pe on sc.student_num = pe.person_num
                                         inner join Course co on sc.course_num = co.num
        where "student_num" = #{student_num} and "course_num" = #{course_num}
    </select>

    <select id="selectAll" resultMap="scoreResultMap">
        select sc.*,pe.person_num, pe.person_name, pe.id,co.num,co.course_name,co.credit,co.id from Score sc
                                         inner join Person pe on sc.student_num = pe.person_num
                                         inner join Course co on sc.course_num = co.num
    </select>

    <update id="updateMark">
        update Score set mark = #{mark} where "student_num" = #{student_num} and "course_num" = #{course_num}
    </update>

    <!--delete不太方便删除单个成绩，故在deleteOnlyScore里用update代替-->
    <delete id="deleteOnlyScore">
        update Score set mark = null where "student_num" = #{student_num} and "course_num" = #{course_num}
    </delete>

    <delete id="deleteForAll">
        delete from Score where  "student_num" = #{student_num} and "course_num" = #{course_num}
    </delete>

    <insert id="insertMark">
        insert into Score (student_num, student_name, course_num, course_name, mark)
        values (#{person.person_num}, #{person.person_name}, #{course.num}, #{course.course_name}, #{mark})
    </insert>

    <!--用于更新每次更改/删除/增加分数时每个人该科目的排名，这里的逻辑可能有点小问题qwq-->
    <update id="calculateRanking" >
        update Score
        set
            ranking =
                (
                    select COUNT(*) + 1
                    from Score
                    where course_num = #{course_num} and mark > #{mark}
                )
        where student_num = #{student_num} and course_num = #{course_num}
    </update>
    
    <update id="updateRanking" parameterType="org.example.server.pojo.Score">
        update Score set ranking = #{ranking} where  "student_num" = #{student_num} and "course_num" = #{course_num}
    </update>

    <update id="updateId" >
        update Score set id = #{id} where "student_num" = #{student_num} and "course_num" = #{course_num}
    </update>

    <select id="getScoreSorted_Ascending" resultType="org.example.server.pojo.Score">
        select * from Score where "course_num"=#{course_num} ORDER BY mark ASC
    </select>

    <select id="getScoreSorted_descending" resultType="org.example.server.pojo.Score">
        select * from Score where "course_num"=#{course_num} ORDER BY mark DESC
    </select>
    <!--有个scoreSave未写，之后补-->

</mapper>